:root{
    --clr-dark: #10172c;
    --clr-light: #f1f5f9 ;
    --clr-slate400: #e3e9f0;
    --clr-slate600: #d0d6dd;
    --clr-slate800: #1e293b ;
    --clr-green: #4ade80 ;
    --clr-indigo: #4f46e5 ;

    /* green rgb(74, 222, 128) */
    /* indigo rgb(80, 72, 229) */


--size-xxs: 0.5rem ;
--size-xs: 0.75rem ;
--size-sm: 0.075rem ;
--size-base: 1rem :
--size-lg: 1.125rem :
--size-xl: 1.25rem :
--size-2xl: 1.5rem ;
--size-3xl: 1.875rem ;
--size-4xl: 2.25rem ;
--size-5xl: 3rem ;
--size-6xl: 3.75rem ;
--size-7xl: 4.5rem ;
--size-8xl: 6rem ;
--size-9xl: 8rem ;
--size-10xl: 10rem ;

}



* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

html{
    scroll-behavior: smooth;
}

h1{
    font-size: 1rem;
}
body{

font-family: 'General Sans', sans-serif;
background-color: var(--clr-dark);
color: var(--clr-light);

}

img,
picture,
video,
canvas,
svg{
    display: block;
    max-width: 100%;
    user-select: none;
}

button{
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}

a{
    color: var(--clr-green);
}

strong{
    color: var(--clr-indigo);
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}