html {
    margin: 4em;
    font-family: "Oswald", san-serif;
    background: #008080;
    font-size: 1.4em;
}

body {
    max-width: 1400px;
    margin: auto;
}
a,
a:visited {
    color: rgb(192, 255, 201);
    text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: underline;
}


h1 {
    font-size: 50px;
}

img {
    width: 600px;
    max-width: 100%;
    float: left;
    margin-right: 4em;
    margin-bottom: 2em;
}
